.buttonleft { float: left
}
.buttonright { float: right }

.dropdown-menu:hover{display:block;}

.btn-black {
  font-size: 16px;
  color: #fff;
  background-color: #696B75;
  border-color: #222;
}
.btn-black:focus,
.btn-black.focus {
  color: #90C7FD;
  background-color: #222;
  border-color: #222;
}
.btn-black:hover {
  color: #90C7FD;
  background-color: #222;
  border-color: #222;
}
.btn-black:active,
.btn-black.active,
.open > .dropdown-toggle.btn-black {
  color: #90C7FD;
  background-color: #222;
  border-color: #222;
}
.btn-black:active:hover,
.btn-black.active:hover,
.open > .dropdown-toggle.btn-black:hover,
.btn-black:active:focus,
.btn-black.active:focus,
.open > .dropdown-toggle.btn-black:focus,
.btn-black:active.focus,
.btn-black.active.focus,
.open > .dropdown-toggle.btn-black.focus {
  color: #90C7FD;
  background-color: #222;
  border-color: #222;
}
.btn-black:active,
.btn-black.active,
.open > .dropdown-toggle.btn-black {
  background-image: none;
}
.btn-black.disabled:hover,
.btn-black[disabled]:hover,
fieldset[disabled] .btn-black:hover,
.btn-black.disabled:focus,
.btn-black[disabled]:focus,
fieldset[disabled] .btn-black:focus,
.btn-black.disabled.focus,
.btn-black[disabled].focus,
fieldset[disabled] .btn-black.focus {
  background-color: #222;
  border-color: #222;
}
.btn-black .badge {
  color: #90C7FD;
  background-color: #fff;
}
/*Перебью цвет body и мб другие параметры*/

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333;
  background-color: #E9F3FD;
}

.dropdown-menu {
  font-size: 16px;
}

/*Цвет пунктов меню*/
.navbar-inverse .navbar-offcanvas .navmenu-nav > li > a {
  color: #90C7FD;
}
