.btn-black:focus, .btn-black.focus {
  color: #90c7fd;
  background-color: #222;
  border-color: #222; }

.btn-black:active, .btn-black.active, .open > .dropdown-toggle.btn-black {
  color: #90c7fd;
  background-color: #222;
  border-color: #222;
  background-image: none; }

.btn-black:active:hover, .btn-black:active:focus, .btn-black.focus:active, .btn-black.active:hover, .btn-black.active:focus, .btn-black.active.focus, .open > .dropdown-toggle.btn-black:hover, .open > .dropdown-toggle.btn-black:focus, .open > .dropdown-toggle.btn-black.focus {
  color: #90c7fd;
  background-color: #222;
  border-color: #222; }

.buttonleft {
  float: left; }

.buttonright {
  float: right; }

.dropdown-menu {
  font-size: 16px; }
  .dropdown-menu:hover {
    display: block; }

.btn-black {
  font-size: 16px;
  color: #fff;
  background-color: #696b75;
  border-color: #222; }
  .btn-black:hover {
    color: #90c7fd;
    background-color: #222;
    border-color: #222; }
  .btn-black.disabled:hover {
    background-color: #222;
    border-color: #222; }
  .btn-black.disabled:focus {
    background-color: #222;
    border-color: #222; }
  .btn-black.disabled.focus {
    background-color: #222;
    border-color: #222; }
  .btn-black .badge {
    color: #90c7fd;
    background-color: #fff; }

.btn-black[disabled]:hover {
  background-color: #222;
  border-color: #222; }

.btn-black[disabled]:focus {
  background-color: #222;
  border-color: #222; }

.btn-black[disabled].focus {
  background-color: #222;
  border-color: #222; }

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333;
  background-color: #e9f3fd; }

.caret-right {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left: 4px solid #90c7fd;
  display: inline-block;
  height: 0;
  opacity: 1;
  vertical-align: middle;
  width: 0;
  content: "";
  margin-top: 6px; }

fieldset[disabled] .btn-black:hover {
  background-color: #222;
  border-color: #222; }

fieldset[disabled] .btn-black:focus {
  background-color: #222;
  border-color: #222; }

fieldset[disabled] .btn-black.focus {
  background-color: #222;
  border-color: #222; }

.navbar-inverse .navbar-offcanvas .navmenu-nav > li > a {
  color: #90c7fd; }
