<html ng-app="navbar">
    <head>
        <meta charset="utf-8">
        <title>dsrproject</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>



        <script src="js/system/jquery.js" type="text/javascript"></script>
        <script src="js/system/bootstrap.js" type="text/javascript"></script>
        <script src="js/system/jasny-bootstrap.js" type="text/javascript"></script>
        <script src="js/system/angular.js" type="text/javascript"></script>
        <script src="js/partials/angular-route.js" type="text/javascript"></script>
        <script src="js/system/angular-ui-router.js" type="text/javascript"></script>
        <script src="js/system/ngStorage.js" type="text/javascript"></script>


        <script src="js/navbar/navbar.module.js" type="text/javascript"></script>
        <script src="js/partials/navbar.provider.js" type="text/javascript"></script>
        <script src="js/navbar/navbar.controller.js" type="text/javascript"></script>
        <script src="js/navbar/navbar.directive.js" type="text/javascript"></script>
        <script src="js/partials/changeside.controller.js" type="text/javascript"></script>

        <link href="style/system/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="style/system/jasny-bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="style/custom/navbar.style.css" rel="stylesheet" type="text/css"/>


        <div align="center" ng-controller="changesideCtrl" area-expanded="true" ><h1>Где показывать меню:</h1>
            <div align="center">
                <button class="btn btn-default" type="button"  ng-click="changeleft()">Слева</button>
                <button class="btn btn-default" type="button"  ng-click="changeright()"> Справа</button>
                <a class="btn btn-success" href="index.html" role="button"> Применить </a>
            </div>
        </div>
    </body>
</html>
